# Regole da inserire in un file .gitignore
# Con il carattere cancelletto si indica l'inizio di una riga di commento.

# per aggiungere un file alla Staging Area usare l'opzione --force o -f
# esempio   ---> $ git add --force nomefile.extension

**/DOC
**/Reports
**/Reports_*
*.aliases
*.ini
**/*.zip
**/*.xml
**/*.pdf
**/*.txt
**/*.crb
# -----------------------------------------------------------------------------
# esempio  ---> **/images 
# 
# usando due asterischi **, viene eseguito il match di una directory
# nella cartella base o qualsiasi altra cartella del progetto
# La regola precedente ignora file come:
#
# images/img.jpeg
# images/december/snow.png
# asset/images/example.gif
# -----------------------------------------------------------------------------
# esempio   ---> logs/**/error.log
#
# Il doppio asterisco ** esegue il match di zero o più directory
#-----------------------------------------------------------------------------
# esempio   ---> asset/
#  
# Usando la slash finale si indica che si tratta di una directory
# La regola precednte ignora file del tipo:
# asset/img.jpeg
# asset/images/file.png
# dicembre/asset/immagine.png
# dicembre/asset/immagini/a.webp